<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.njupt.rest_reservation.dao.ReservationMapper" >
  <resultMap id="BaseResultMap" type="cn.njupt.rest_reservation.model.Reservation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="tableware_number" property="tablewareNumber" jdbcType="INTEGER" />
    <result column="meal_time" property="mealTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, tableware_number, meal_time, status, remarks, create_time, update_time, 
    table_id, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reservation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reservation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.njupt.rest_reservation.model.Reservation" >
    insert into reservation (id, user_id, tableware_number, 
      meal_time, status, remarks, 
      create_time, update_time, table_id, 
      flag)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tablewareNumber,jdbcType=INTEGER}, 
      #{mealTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{tableId,jdbcType=INTEGER}, 
      #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.njupt.rest_reservation.model.Reservation" >
    insert into reservation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tablewareNumber != null" >
        tableware_number,
      </if>
      <if test="mealTime != null" >
        meal_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tablewareNumber != null" >
        #{tablewareNumber,jdbcType=INTEGER},
      </if>
      <if test="mealTime != null" >
        #{mealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.njupt.rest_reservation.model.Reservation" >
    update reservation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tablewareNumber != null" >
        tableware_number = #{tablewareNumber,jdbcType=INTEGER},
      </if>
      <if test="mealTime != null" >
        meal_time = #{mealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.njupt.rest_reservation.model.Reservation" >
    update reservation
    set user_id = #{userId,jdbcType=INTEGER},
      tableware_number = #{tablewareNumber,jdbcType=INTEGER},
      meal_time = #{mealTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      table_id = #{tableId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllReservation" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT * FROM reservation WHERE 1=1
    <if test="keys!=null and keys!='' ">
      AND table_id = #{keys}
    </if>
    <if test="start != null">
      LIMIT #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER};
    </if>
    <if test="index != null">
      LIMIT #{index,jdbcType=INTEGER}, #{size,jdbcType=INTEGER};
    </if>
  </select>
</mapper>