<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.njupt.rest_reservation.dao.TableMapper" >
  <resultMap id="BaseResultMap" type="cn.njupt.rest_reservation.model.Table" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="staff_id" property="staffId" jdbcType="INTEGER" />
    <result column="table_status" property="tableStatus" jdbcType="INTEGER" />
    <result column="seats_number" property="seatsNumber" jdbcType="INTEGER" />
    <result column="table_no" property="tableNo" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, staff_id, table_status, seats_number, table_no, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.njupt.rest_reservation.model.Table" >
    insert into r_table (id, staff_id, table_status, 
      seats_number, table_no, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{tableStatus,jdbcType=INTEGER}, 
      #{seatsNumber,jdbcType=INTEGER}, #{tableNo,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.njupt.rest_reservation.model.Table" >
    insert into r_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="tableStatus != null" >
        table_status,
      </if>
      <if test="seatsNumber != null" >
        seats_number,
      </if>
      <if test="tableNo != null" >
        table_no,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="tableStatus != null" >
        #{tableStatus,jdbcType=INTEGER},
      </if>
      <if test="seatsNumber != null" >
        #{seatsNumber,jdbcType=INTEGER},
      </if>
      <if test="tableNo != null" >
        #{tableNo,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.njupt.rest_reservation.model.Table" >
    update r_table
    <set >
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="tableStatus != null" >
        table_status = #{tableStatus,jdbcType=INTEGER},
      </if>
      <if test="seatsNumber != null" >
        seats_number = #{seatsNumber,jdbcType=INTEGER},
      </if>
      <if test="tableNo != null" >
        table_no = #{tableNo,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.njupt.rest_reservation.model.Table" >
    update r_table
    set staff_id = #{staffId,jdbcType=INTEGER},
      table_status = #{tableStatus,jdbcType=INTEGER},
      seats_number = #{seatsNumber,jdbcType=INTEGER},
      table_no = #{tableNo,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllTable" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT * FROM r_table WHERE 1=1
    <if test="keys != null and keys!=''">
      AND table_no = #{keys}
    </if>
    <if test="tableStatus!=null and tableStatus!='-1'">
      and table_status = #{tableStatus,jdbcType=INTEGER}
    </if>
    <if test="seatsNumber != null and seatsNumber!=''">
      AND seats_number &gt;= #{seatsNumber}
    </if>
    <if test="start != null">
      LIMIT #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER};
    </if>
    <if test="index != null">
      LIMIT #{index,jdbcType=INTEGER}, #{size,jdbcType=INTEGER};
    </if>
  </select>
</mapper>